*{
    box-sizing: border-box;
    letter-spacing: 2px;
}

html,body , .container{
    width: 100%;
    margin: 0;
    padding: 0;

}

/*----------------------------------*/

.starter{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
    background-image: url(../template/image/background.jpg);
    background-position: center;
}

.navi{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}
